h1{
    font-family: "OxforStreet";
    text-align: center;
    font-size: 350%;
    padding: 20px;
}
body{
    font-family: "OxforStreet";
}
.crop-18x6 {
    width: 99%;
    height: calc(100vw * 0.33); /* Ratio 18:6 */
    overflow: hidden;
    margin: 0.5%;
  } 
.crop-18x6 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
@font-face {
	font-family: 'OxforStreet';
	src: url("police/OxfordStreet.ttf") format(".ttf");
}


html, body {
   margin:0;
   padding:0;
   height:100%;
}
#main {
   min-height:100%;
   position:relative;
   padding-bottom:100px;   /* Hauteur du pied de page */
   text-align: center;
   max-width: 100%;
}
#footer {
   position:absolute;
   bottom:0;  /* on le colle en bas */
   width:100%;
   height:100px;   /* Hauteur du pied de page */
}

.text-over {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-weight: bold;
    opacity: 1;
    transition: opacity 0.2s ease-out;
  }
h2{
    font-size: 40px;
    font-weight: bold;
}
.row{
  margin-right: -34%;
  margin-left: -34%;
}
body {
  min-height: 100vh;
  padding: 40px 0;

}

.gallery-container .row > div {
  padding: 2px;
}

.gallery-container img {
  width: 100%;
  border-radius: 0px;
  position: relative;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Pour certains navigateurs mobiles, il est nécessaire d'ajouter ces règles supplémentaires */
body {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

/* Empêche le zoom sur certains navigateurs mobiles */








