h1{
    font-family:'Morganite', sans-serif;
    text-align: center;
    font-size: 350%;
    padding: 20px;
}
body{
    font-family:'Morganite', sans-serif;
}
#carouselExampleControls{
    margin-left:8%;
    margin-right:8%;

}
#boutton{
    text-align: center;
    padding: 20px;
}
.crop-18x6 {
    width: 99%;
    height: calc(100vw * 0.33); /* Ratio 18:6 */
    overflow: hidden;
    margin: 0.5%;
  } 
.crop-18x6 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
@font-face {
	font-family: 'OxforStreet';
	src: url("police/OxfordStreet.ttf") format(".ttf");
}

@font-face {
	font-family: 'GeosansLight';
	src: url("police/GeosansLight.ttf") format(".otf");
}


#album{
    transition: all 0.5s ease-out;
    color: white
}
#album:hover,#album:focus{
    filter: brightness(50%);
}

html, body {
   margin:0;
   padding:0;
   height:100%;
}
#main {
   min-height:81.4%;
   position:relative;
   padding-bottom:100px;   /* Hauteur du pied de page */
}
#footer {
   position:relative;
   bottom:0;  /* on le colle en bas */
   width:100%;
   height:100px;   /* Hauteur du pied de page */
}

@import url('https://fonts.googleapis.com/css2?family=Morganite&display=swap');